.body{
    background-color: #010f24;
    color: #fff;
    margin: 0px;
    padding: 0px;
}
.content{
    margin-bottom: 100px;
}

/* Header */
.header h4{
    color: #fff;
    font-size: 19px;
    font-family: 'raleway';
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
}
.header span{
    color: #26feb7;
}

/* Action link */
.action-box p{
    font-family: 'rubik';
    font-size: 14px;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.action-link{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
}
.action-link span{
    font-family: 'raleway';
    font-size: 15px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    background-color: #031635;
    padding: 15px;
    border-radius: 20px;
}
.action-link span i{
    color: #26feb7;
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
}
.action-link span b{
    margin-top: 5px;
    font-size: 13px;
    text-align: center;
}
