.body{
    background-color: #010f24;
    color: #fff;
    margin: 0px;
    padding: 0px;
}
.content{
    margin-bottom: 100px;
}

/* Header */
.header{
    margin-top: -20px;
}
.header h4{
    color: #fff;
    font-size: 17px;
    font-family: 'raleway';
    font-weight: 500;
    text-align: center;
    margin-top: 0px;
}
.header h4 i{
    color: #26feb7;
}
.header span{
    color: #26feb7;
    font-weight: 700;
}

/* Action link */
.action-box h5{
    color: #fff;
    font-size: 19px;
    font-family: 'raleway';
    font-weight: 700;
    text-align: center;
}
.action-box p:not(.coming_soon_p){
    font-family: 'rubik';
    font-size: 14px;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.coming_soon_p{
    font-family: 'rubik';
    font-size: 14px;
    margin-left: 15px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.action-link, .coming_soon{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
}
.action-link span, .coming_soon span{
    font-family: 'raleway';
    font-size: 14px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: #1a273b;
    padding: 15px;
    border-radius: 20px;
}
.coming_soon span{
    position: relative;
}
.coming_soon span .fi-rr-hourglass-end{
    position: absolute;
    top: -10px;
    right: -10px;
    width: fit-content;
    height: fit-content;
    padding: 8px 10px 6px;
    background-color: #e9fff8;
    color: #010f24;
    border: 2px solid #1a273b;
    font-size: 16px;
    font-weight: 800;
}
.coming_soon span{
    background-color: #e9fff8;
    color: #031635;
}
.action-link span i, .coming_soon span i{
    color: #26feb7;
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
}
.coming_soon span i{
    color: #031635;
}
.action-link span b, .coming_soon span b{
    margin-top: 5px;
    font-size: 14px;
    text-align: center;
}
