/* Bottom Bar */
.bottom_bar-sec{
    position: fixed;
    bottom: -3%;
    padding: 10px 0px;
    width: 100%;
    background-color: #010f24;
}
.bottom_bar .col-12{
    display: flex;
    justify-content: space-between;
}
.bottom_bar .col-12 a{
    color: #fff;
    font-family: 'raleway';
    font-size: 14px;
}
.active i{
    color: #26feb7;
}
.active .active-indicator{
    display: flex;
    padding: 2px;
    margin-top: 3px;
    position: relative;
    animation-name: active-indi;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes active-indi {
    0%   {background-color:#26feb7; width: 0%;}
    25%  {background-color:#1a273b; width: 25%;}
    50%  {background-color:#26feb7; width: 50%;}
    75%  {background-color:#1a273b; width: 75%;}
    100% {background-color:#26feb7; width: 100%;}
  }

/* Com Msg and Directory */
.com_msg_dir{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    padding: 0px 0px;
}
.com_msg_dir h4{
    color: #fff;
    font-family: 'raleway';
    font-weight: 900;
    font-size: 20px;
    padding: 10px;
}
.com_msg_dir h4 i{
    font-size: 15px;
    color: #26feb7;
}
.dir{
    padding: 10px;
    background-color: #1a273b;
    border-radius: 20px;
    height: fit-content;
}
.dir a{
    color: #fff;
    margin: 0px 8px;
}