@media screen and (max-width: 1090px) {
    
}
.body{
    background-color: #010f24;
    color: #fff;
    margin: 0px;
    padding: 0px;
}
.content{
    margin-bottom: 100px;
}
.dir{
    margin-top: 0px;
}

/* Header */
.header-sec{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    margin-top: 20px;
    font-family: 'raleway';
}
.header-sec .user_info{
    display: inline-flex;
}
.header-sec .user-img{
    width: 50px;
    height: 50px;
    margin: 0px 0px 0px;
    justify-content: center;
}
.header-sec .user-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.header-sec .user{
    margin-left: 10px;
}
.header-sec .user-name{
    font-size: 14px;
    font-weight: 800;
}
.header-sec .user-greeting{
    font-size: 14px;
    color: #26feb7;
}
.header-sec .h_icons .fi{
    font-size: 19px;
}

/* Wallet */
.wallet-sec .wallet_action_btn{
    display: flex;
    margin-top: 10px;
}
.wallet_action_btn .t_p_btn{
    width: 100%;
    background-color: #26feb7;
    color: #010f24;
    border-radius: 05px;
    margin: 0px 5px;
    padding: 10px 20px;
    font-family: 'raleway';
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
}
.wallet_action_btn .b_s_action{
    width: 100%;
    background-color: #e9fff8;
    color: #031635;
    border-radius: 05px;
    margin: 0px 5px;
    padding: 10px 20px;
    font-family: 'raleway';
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
}
.wallet{
    background-color: #1a273b;
    border: 2px solid #e9fff8;
    color: #e9fff8;
    height: 130px;
    position: relative;
    padding: 10px;
    border-radius: 20px;
}
.wallet .wallet_icon{
    background-color: #1a273b;
    border: 2px solid #e9fff8;
    color: #e9fff8;
    padding: 10px 13px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
}
.wallet .wallet_amount{
    font-size: 24px;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    bottom: 30px;
    left: 15px;
}
.wallet div{
    font-family: 'raleway';
    font-size: 19px;
    font-weight: 800;
    margin: 15px 5px 5px;
}
.wallet-box p{
    font-family: 'raleway';
    margin-top: 10px;
    font-size: 13px;
    font-weight: 600;
}

/* marquee */


/* Quick Link */
.quick_link-sec{
    padding: 0px 10px;
}
.quick_link-sec h6{
    color: #fff;
    font-family: 'rubik';
    font-size: 14px;
    margin: 0px 10px;
}
.quick-link{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 30px;
}
.quick-link span{
    font-family: 'raleway';
    font-size: 15px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
}
.quick-link span i{
    color: #26feb7;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    margin-left: 8px;
}
.quick-link span b{
    margin-top: 5px;
    font-size: 13px;
    text-align: center;
}
.quick_link-sec button{
    width: 100%;
    background-color: #26feb7;
    color: #010f24;
    font-family: 'raleway';
    font-weight: 700;
    font-size: 14px;
    border-radius: 05px;
}

/* Image Overflow */
.image_overflow-sec h6{
    color: #fff;
    font-family: 'rubik';
    font-size: 14px;
    font-weight: 700;
    margin: 0px 10px 5px;
}
.image_overflow-sec p{
    color: #fff;
    font-family: 'rubik';
    font-size: 13px;
    margin: 0px 10px 20px; 
}
.image_overflow-sec .image-container{
    width: 100%;
    overflow: auto;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
}
.image-container .img-box{
    display: inline-block;
}
.image-container .img-box{
    width: 100%;
    height: 200px;
    margin: 0px 0px;
}
.image-container .img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/* Api */
.api_bulk{
    margin-top: 35px;
}
.api_bulk .api-box{
    background-color: #26feb7;
    padding: 10px;
    border-radius: 10px;
}
.api-box h4{
    color: #010f24;
    font-family: 'rubik';
    font-weight: 700;
    font-size: 18px;
    padding: 10px;
    margin: 0px;
    text-align: center;
}
.api-box p{
    color: #010f24;
    font-family: 'raleway';
    font-weight: 700;
    font-size: 14px;
    padding: 0px 10px;
    margin-bottom: 0px;
    text-align: center;
}
.api-box a{
    display: flex;
    justify-content: center;
}
.api-box a button{
    background-color: #031635;
    color: #fff;
    border-radius: 05px;
    margin: 10px 0px;
    padding: 13px;
    font-family: 'raleway';
    font-size: 14px;
    font-weight: 900;
}
/* ChatBox */
.chat_box-sec{
    min-height: 420px;
}
.chat_box-sec .chat-box{
    padding-bottom: 150px;
}
.chat_box-sec h6{
    color: #fff;
    font-family: 'rubik';
    font-size: 14px;
    font-weight: 700;
    margin: 0px 10px 5px;
}
.chat_box-sec p:not(.chat-box .chat_fill p, .chat-box .chat_outline p){
    color: #fff;
    font-family: 'rubik';
    font-size: 13px;
    margin: 0px 10px 30px; 
}
.chat-box .chat_fill{
    width: fit-content;
    padding: 5px 15px 10px;
    font-size: 14px;
    color: #010f24;
    background-color: #e9fff8;
    border-radius: 20px;
    position: relative;
    margin-bottom: 20px;
    float: left;
}
.chat-box .chat_fill h5{
    font-size: 14px;
    font-weight: 800;
    margin-left: 6px;
    color: #010f24;
}
.chat-box .chat_fill p{
    font-weight: 600;
    font-family: 'raleway';
    margin-bottom: 0px;
}
.chat-box .chat_fill b, .chat-box .chat_outline b{
    padding-bottom: 5px;
    font-size: 11px;
}
.chat-box .chat_fill span{
    background-color: #e9fff8;
    color: #010f24;
    padding: 10px 13px;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    left: -10px;
}
.chat-box .chat_outline{
    width: fit-content;
    padding: 5px 15px;
    font-size: 14px;
    color: #e9fff8;
    background-color: #031635;
    border-radius: 20px;
    border: 2px solid #e9fff8;
    position: relative;
    margin-bottom: 20px;
    float: right;
}
.chat-box .chat_outline span{
    background-color: #031635;
    color: #e9fff8;
    padding: 10px 13px;
    border-radius: 50%;
    border: 2px solid #e9fff8;
    position: absolute;
    top: -15px;
    right: -10px;
}
.chat-box .chat_outline h5{
    color: #e9fff8;
    font-size: 14px;
    font-weight: 800;
}
.chat-box .chat_outline p{
    font-weight: 600;
    font-family: 'raleway';
    margin-bottom: 0px;
}

/* Transaction */
.transaction-sec div{
    text-align: center;
}
.transaction-sec h4{
    color: #fff;
    font-family: 'rubik';
    font-size: 20px;
}
.transaction-sec button{
    background-color: #26feb7;
    color: #010f24;
    font-family: 'raleway';
    font-weight: 900;
    font-size: 14px;
    padding: 10px 20px;
    margin-top: 10px;
}