.body{
    background-color: #010f24;
    color: #fff;
    margin: 0px;
    padding: 0px;
}
.content{
    
}
.navbar{
    background-color: #010f24;
    padding: 15px !important;
}
.navbar-brand{
    font-family: 'poppins';
    font-weight: 700;
}

/* Header */
.header{
    margin: 100px 0px 50px;
    padding: 0px 20px !important;
}
.header .header-writeup{

}

.header-writeup h4{
    font-family: 'poppins';
    font-weight: 700;
    font-size: 30px;
    color: #fff;
    text-align: center;
}
.header-writeup p{
    font-family: 'poppins';
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}
.header-writeup a{
    width: 100%;
    background-color: #26feb7;
    color: #010f24;
    font-family: 'rubik';
    font-weight: 700;
    padding: 15px;
    margin-top: 10px;
}

/* Features */
.features{
    margin-top: 20px;
    margin-bottom: 30px;
}
.features .feature-box{
    padding: 15px 15px 9px;
}
.feature-box span{
    display: flex;
    justify-content: center;
}
.feature-box span img{
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}
.feature-box h5{
    color: #fff;
    font-family: 'poppins';
    text-align: center;
    padding: 5px 0px 0px;
}
.feature-box p{
    text-align: center;
    font-size: 14px;
}

/* Note */
.note{
    margin-bottom: 50px;
}
.note h4{
    font-family: 'poppins';
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    text-align: center;
}
.note a{
    display: flex;
    justify-content: center;
}
.note button{
    width: 60%;
    background-color: #26feb7;
    color: #010f24;
    font-family: 'raleway';
    font-weight: 800;
    padding: 10px;
    margin-top: 10px;
}

/* services */
.services{
    margin-top: 20px;
}
.services h4{
    color: #fff;
    font-family: 'rubik';
    font-size: 19px;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.service-box span{
    display: flex;
    justify-content: center;
}
.service-box span img{
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}
.services .service-box{
    padding: 15px;
}
.service-box h5{
    color: #fff;
    font-family: 'poppins';
    text-align: center;
    padding: 5px 0px 0px;
}
.service-box p{
    text-align: center;
    font-size: 14px;
}

.chat{
    padding: 0px 10px;
}
.chat .chat-box{
    background-color: #26feb7;
    padding: 20px 10px 15px;
    border-radius: 10px;
}
.chat-box h4{
    color: #010f24;
    font-family: 'rubik';
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.chat-box p{
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
    color: #010f24;
    margin-bottom: 05px;
}
.chat-box a{
    display: flex;
    justify-content: center;
}
.chat-box button{
    width: fit-content;
    background-color: #010f24;
    color: #26feb7;
    font-family: 'raleway';
    font-weight: 900;
    padding: 15px;
    border-radius: 10px;
}

footer{
    padding: 10px !important;
    padding: 35px 35px;
    margin-top: 40px;
}
footer .company-logo img{
    width: 100px;
    height: 100px;
}
footer .top_section{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    margin-bottom: 0px;
}
footer .top_section a{
    color: #fff;
    font-size: 16px;
    font-family: 'raleway';
}
footer .top_section .company-name{
    font-size: 20px;
}
footer .middle_section{
    padding: 15px;
    color: #fff;
    font-weight: 600;
    font-family: 'raleway';
}
footer .middle_section a{
    width: 100%;
}
footer .middle_section .col-12{
    padding: 5px;
}
footer .middle_section h4{
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}
footer .middle_section .col-12 li{
    list-style: none;
    font-size: 16px;
    font-weight: 500;
}
footer .middle_section .col-12 ul{
    padding-left: 0px;
}
footer .bottom_section{
    text-align: center;
    color: #fff;
    padding: 15px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
