.body{
    background-color: #010f24;
    color: #fff;
    margin: 0px;
    padding: 0px;
}
.content{
    margin-bottom: 90px;
}

/* Header */
.header{
    padding: 10px;
}
.header .header_box{
    height: 180px;
    background-image: url('./Asset/img/11752425_4814627.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.header_box h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 0px 15px 0px;
    color: #fff;
}
.header_box h4 span{
    color: #26feb7;
}
.header_box .user_name{
    color: #fff;
    font-family: 'raleway';
    font-weight: 700;
    font-size: 13px;
    position: absolute;
    bottom: 10px;
    left: 20px;
}
.header_box .user_id{
    color: #fff;
    font-family: 'rubik';
    font-weight: 700;
    font-size: 13px;
    position: absolute;
    bottom: 10px;
    right: 20px; 
}
.header_box .user_img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 05px;
    background-color: #010f24;
    position: absolute;
    bottom: -50px;
    left: 37%;
}
.header_box .user_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* Main Settings */
.general-sec{
    margin-top: 40px;
}
.general-sec h6, .security-sec h6, .support-sec h6, .referral-sec h6{
    color: #fff;
    font-family: 'rubik';
    font-size: 13px;
    margin-left: 13px;
    margin-bottom: 15px;
}
.general-sec i, .security-sec i, .support-sec i, .referral-sec i{
    font-size: 13px;
}
.security-sec, .support-sec, .referral-sec{
    margin-top: 20px;
}
.set_box{
    border-radius: 10px;
    background-color: #1a273b;
    padding: 10px 15px;
}
.set_box button{
    width: 100%;
    text-align: left;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    font-family: 'raleway';
    padding: 8px 0px;
}

/* Right reserved */
.r-r{
    text-align: center;
    color: #fff;
    font-size: 10px;
    font-family: 'raleway';
    letter-spacing: 1px;
}

/* Modal */
.modal-content{
    border-radius: 15px !important;
}
.modal-header, .modal-body, .modal-footer{
    background-color: #e9fff8;
    border: none !important;
}
.modal-header{
    border-top-right-radius: 15px !important;
    border-top-left-radius: 15px !important;
}
.modal-footer{
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
}
.modal-header h4{
    width: 100%;
    padding: 0px;
    margin: 0px;
    color: #010f24;
    font-family: 'raleway';
    font-weight: 900;
    font-size: 20px;
}
.modal-header h4 span{
    color: #26feb7;
}
.modal-body{
    padding-top: 5px !important;
}
.modal-body h6{
    font-family: 'raleway';
    font-weight: 800;
    padding: 0px;
    margin: 0px;
    color: #010f24;
}
.modal-body h6 span{
    font-weight: bolder;
    color: #26feb7;
}
.modal-body .edit{
    color: #1a273b;
    font-family: 'rubik';
}
.modal-body .edit a{
    color: #26feb7;
    font-weight: 800;
}
.modal-body .form-detail, .support-opt{
    margin-top: 10px;
}
.modal-body .form-detail label, .modal-body .form-detail input{
    width: 100%;
}
.form-detail label{
    margin-left: 08px;
    margin-bottom: 20px;
    color: #010f24;
    font-family: 'raleway';
    font-weight: 600;
}
.form-detail span{
    background-color: #1a273b;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    font-family: 'rubik';
    width: 200px;
}
.form-detail input{
    border-radius: 10px;
    padding: 15px;
    color: #010f24;
    border: 2px solid #1a273b;
    background-color: transparent;
    margin-top: -10px;
}
.form-detail button{
    width: 100%;
    border: 2px solid #1a273b;
    color: #010f24;
    font-family: 'rubik';
    font-weight: 700;
    margin-top: 20px;
    padding: 15px;
}
.support-opt a{
    width: 100%;
    border: 2px solid #1a273b;
    color: #010f24;
    font-family: 'rubik';
    font-weight: 700;
    padding: 15px; 
}
.support-opt a h5{
    font-size: 16px;
    padding: 0px;
    margin: 0px;
}
.modal-footer button{
    width: 100%;
    background-color: #26feb7;
    color: #010f24;
    font-family: 'rubik';
    font-weight: 700;
}