.body{
    background-color: #010f24;
    color: #fff;
    margin: 0px;
    padding: 0px;
}
.content{
    margin-bottom: 100px;
}

/* Com Msg and Directory */
.com_msg_dir{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    padding: 0px 0px;
}
.com_msg_dir h4{
    color: #fff;
    font-family: 'raleway';
    font-weight: 900;
    font-size: 20px;
    padding: 10px;
}
.com_msg_dir h4 i{
    font-size: 15px;
    color: #26feb7;
}
.com_msg_dir .dir{
    margin-top: 15px;
    padding: 10px;
    background-color: #26feb7;
    border-radius: 20px;
    height: fit-content;
}
.com_msg_dir .dir a{
    color: #031635;
    margin: 0px 8px;
}

/* Wallet */
.acc_wallet-sec{
    margin: -05px 0px 0px;
}
.acc_wallet-sec .wallet_box{
    display: flex;
    justify-content: center;
}
.acc_wallet-sec .wallet{
    text-align: center;
    padding: 15px 25px 15px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'rubik';
    width: fit-content;
    background-color: #1a273b;
    border-radius: 20px;
}
.acc_wallet-sec .wallet_action_btn{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.wallet_action_btn .t_p_btn{
    background-color: #26feb7;
    color: #010f24;
    border-radius: 05px;
    margin: 0px 5px;
    font-family: 'raleway';
    font-size: 14px;
    font-weight: 900;
}
.wallet_action_btn .b_s_action{
    background-color: #e9fff8;
    color: #031635;
    border-radius: 05px;
    margin: 0px 5px;
    font-family: 'raleway';
    font-size: 14px;
    font-weight: 900;
}

/* Transaction Section */
.transaction_history-sec{
    margin-top: 20px;
    padding: 0px 15px;
}
.transaction_history-sec .header_filter{
    margin-bottom: 25px;
}
.transaction_history-sec .header_filter h6{
    color: #fff;
    margin-left: 20px;
    font-family: 'raleway';
}
.transaction_history-sec .header_filter h6 .ml-1{
    font-size: 13px;
}
.transaction_history-sec .header_filter span span{
    font-size: 13px;
    font-family: 'rubik';
    font-weight: 500;
}
.transaction_history-sec .header_filter span i{
    font-size: 15px;
    font-weight: 900;
    padding: 10px 10px 06px;
    margin: 0px 5px;
    text-align: center;
    color: #26feb7;
    border-radius: 50%;
}
.t_h_box{
    padding: 10px 10px 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    background-color: #1a273b;
    margin: 10px 0px;
}
.t_h_box .t_img_name_date{
    display: inline-flex;
}
.t_h_box .t_img_name_date .t_name{
    font-weight: 700;
}
.t_h_box .t_img_name_date .t_img{
    width: 40px;
    height: 40px;
}
.t_h_box .t_img_name_date .t_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.t_h_box .t_img_name_date .t_name_date{
    margin-left: 10px;
    font-family: 'rubik';
}
.t_h_box .t_id, .t_h_box .t_amount{
    font-family: 'rubik';
}

/* Transaction */
.transaction-sec div{
    text-align: center;
}
.transaction-sec h4{
    color: #fff;
    font-family: 'rubik';
    font-size: 20px;
}
.transaction-sec button{
    background-color: #26feb7;
    color: #010f24;
    font-family: 'raleway';
    font-weight: 900;
    font-size: 14px;
    padding: 10px 20px;
    margin-top: 10px;
}