.body{
    background-color: #010f24;
    color: #fff;
    margin: 0px;
    padding: 0px;
}

.header{
    display: inline-flex;
    padding: 15px;
    margin: 15px 0px;
}
.header i{
    font-size: 25px;
    margin-left: 10px;
    color: #26feb7;
}
.header h5{
    padding: 05px 0px;
    color: #fff;
    text-align: center;
    width: 100%;
    font-family: 'raleway';
    font-weight: 600;
}

.cc-box{
    background-color: #e9fff8;
    padding: 15px 15px;
    border-radius: 10px;
}
.cc-box h6{
    padding: 0px;
    font-family: 'rubik';
    color: #010f24;
}
.cc-box p{
    color: #010f24;
    margin: 5px 0px 0px;
    font-family: 'raleway';
}

.octasafe{
    font-size: 14px;
    font-family: 'raleway';
    color: #26feb7;
}
.octasafe span{
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    padding: 0px 5px;
}

/* Purchase Form */
.purchase-form{
    margin-top: 15px;
}
.purchase-form form label{
    font-family: 'raleway';
    font-weight: 600;
    font-size: 14px;
    margin-top: 30px;
}
.purchase-form form input, .purchase-form form select{
    border-radius: 10px;
    padding: 25px;
    color: #fff;
    margin: 5px 0px;
    background-color: #1a273b;
}
.purchase-form form select{
    padding: 0px 15px;
    height: 52px;
}
.purchase-form form button{
    width: 100%;
    color: #010f24;
    background-color: #26feb7;
    margin-top: 25px;
    padding: 15px;
    border-radius: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 900;
    font-family: 'raleway';
}

/* Modal */
.modal .modal-content{

}
.modal-header, .modal-footer, .modal-body{
    background-color: #010f24;
}
.modal-header, .modal-footer, .modal-body{
  border: none !important;
}
.modal-title{
    width: 100%;
    text-align: center;
    font-family: 'raleway';
    font-size: 18px;
    color: #fff;
}
.modal-header h4{
    margin: 0px;
    padding: 0px;
}
.modal-body .cart h6{
    padding: 0px;
    margin: 0px;
    color: #fff;
    margin-top: 10px;
    font-family: 'raleway';
    font-weight: 700;
}
.modal-body .cart span{
    font-family: 'rubik';
    font-size: 14px;
}
.modal-body .transaction-pin{
    margin-top: 20px;
}
.modal-body label{
    font-family: 'rubik';
}
.modal-body input{
    border-radius: 10px;
    padding: 25px;
    color: #fff;
    margin-top: 04px;
    background-color: #1a273b;
    text-align: center;
}
.modal-body input::placeholder{
    text-align: center;
    font-size: 20px;
    letter-spacing: 5px;
} 
.modal-body button{
    width: 100%;
    background-color: #26feb7;
    color: #010f24;
    font-family: 'raleway';
    font-weight: 900;
    font-size: 14px;
    padding: 10px 20px;
    margin-top: 20px;
}
.modal-footer button{
    width: 100%;
    background-color: #e9fff8;
    color: #010f24;
    font-family: 'rubik';
    font-weight: 700;
}